 #about {
            background-image: url('http://pionark.pl/images/drill2.png');
        }
        .bg-light-gray {
            background-color: white; 
        }
        #about-heading {
            color: white;
        }
        section#contact .form-group input, section#contact .form-group textarea {
            padding: 5px;
        }
        input.form-control {
            border: 1px solid #ebab1d;
            background: rgba(0,0,0,1);
        }
        textarea.form-control {
            border: 1px solid #ebab1d;
            background: rgba(0,0,0,1);
        }
        @media (max-width: 768px){
        #service-items {
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto 
        }}
        input::-moz-placeholder {
          color: green;
        }
        section#about h3.section-subheading {
            margin-bottom: 25px;
        }
        .heading-img {
            text-align: left; background-image: url('http://pionark.pl/images/spacer.png');    background-repeat: no-repeat;
    background-position: 5px center;     padding-left: 80px; "
        }
        section#services {
            padding: 0;
        }
        section#contact {
            padding-top: 50px;
            background-color: #0d0d0d;
        }
        footer {
                background-color: #060606;

        }
        .fa-circle {
            color: #ebaa1d;
            padding-right: 5px;
        }